Package: postgresql-pgaudit-9.5
Version: [[version]].[[git.buildnumber]]
Architecture: amd64
Maintainer: Dhatim <dev-oss@dhatim.net>
Depends: postgresql-9.5
Section: database
Priority: optional
Homepage: http://pgaudit.org/
Description: PostgreSQL Auditing Extension
