Package: postgresql-pgaudit-9.6
Version: [[version]].[[git.buildNumber]]
Architecture: amd64
Maintainer: Dhatim <contact@dhatim.net>
Depends: postgresql-9.6
Section: database
Priority: optional
Homepage: http://pgaudit.org/
Description: PostgreSQL Auditing Extension
