Package: postgresql-pgaudit-10
Version: [[version]].[[git.buildnumber]]
Architecture: amd64
Maintainer: Dhatim <dev-oss@dhatim.net>
Depends: postgresql-10
Section: database
Priority: optional
Homepage: http://pgaudit.org/
Description: PostgreSQL Auditing Extension
